* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-container {
  color: white;
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: flex;
  padding: 20px 100px 20px 100px;
  justify-content: space-between;
}

.header-container.colorChange {
  background-color: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.281);
  color: black;
  animation: out 0.35s ease;
}

.header-container.colorChange li:hover {
  color: red;
}

.header-container.colorChange li:hover::before {
  background-color: transparent;
  animation: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  cursor: pointer;
  margin-right: 10px;
  width: 100%;
  padding: 15px 20px;
  opacity: 1;
  position: relative;
  border-radius: 3px;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .menu-list li::before {
  margin: auto;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease-in;
  transform: scaleX(0);

  opacity: 0.75;

  background-color: rgba(165, 164, 164, 0.247);
}

.header-container:not(.colorChange) .menu-list li:hover::before {
  transform: scaleX(100%);
  transition: transform 0.3s ease-out;
}

.front-view {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
.image-container {
  background-image: url("images/burning-coal_23-2147643498.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.image-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.image-container::after,
.image-container::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
}

.contact-button {
  position: absolute;
  display: inline-flex;
  z-index: 100;
  background: #2f82f8;
  margin: auto auto;
  top: 60%;
  padding: 20px 15px;
  color: white;
  border-radius: 5px;
  transition: transform 1s ease;
  cursor: pointer;
  margin: 20px;
}

.contact-button:hover {
  transform: scale(1.1);
  background-color: #1668e4;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 50px;
  max-width: 1028px;
  margin: 0 auto;
}

.main > .title {
  font-size: 40px;
  font-weight: 800;
  color: #3b4858;
  text-align: center;
}

.main > .subtitle {
  margin-top: 20px;
  font-weight: 400;
  opacity: 0.8;
  color: #3b4858;
  padding: 20px 0;
}

.main .main-items {
  display: flex;
  padding: 40px 0 20px 0;
  gap: 200px;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
}

.menu-item:hover > svg {
  transform: scale(1.2);
  opacity: 0.75;
  transition: all 0.5s ease;
}

.menu-item:hover .title {
  opacity: 0.75;
  transition: all 0.5s ease;
}

.menu-item > .title {
  font-size: 30px;
  font-weight: 600;
  color: #3b4858;
  margin-top: 20px;
}

.menu-item > .subtitle {
  font-weight: 400;
  opacity: 0.8;
  color: #3b4858;
  margin-top: 10px;
}

.main-about {
  width: 100%;
  background-image: url("images/pexels-michael-kiliaris-19760113.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.main-about-text {
  height: 100%;
  max-width: 1028px;
  margin: 0 auto;
  font-size: 30px;
  color: white;
  line-height: 50px;
  z-index: 1;
  padding: 80px 0;
  position: relative;
}

.main-about::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.main-about::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

.services {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .services-header {
  font-size: 30px;
  font-weight: 600;
  color: #3b4858;
}

.services-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1028px;
  margin: 0 auto;
  padding: 80px 0;
  gap: 20px;
}

.service-item {
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgba(0, 0, 0, 0.278);
  background-color: white;
  transition: all 0.5s ease;
  align-items: center;
  padding: 0 10px;
  text-align: center;
}

.service-item:hover {
  box-shadow: 0 4px 5px -2px #1285fc;
  transform: translateY(-5px);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 1px 0px 29px -8px rgba(0, 0, 0, 0.75);
  padding: 25px 20px;
  border-radius: 10px;
}

.contact-container .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #3b4858;
}

.contact {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  border-top: 1px solid #c0c0c0;
}

.contact-form {
  flex: 1;
  padding-right: 10px;
  border-right: 1px solid #c0c0c0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form input,
.contact-form form textarea {
  margin: 5px 0;
  background-color: white;
  padding: 10px 15px;
  border: none;
  box-shadow: 0 0 1px 1px #c0c0c0;
  border-radius: 5px;
}

.contact-form form textarea {
  min-height: 223px;
}

.contact-form form input:hover,
.contact-form form textarea:hover {
  background-color: #c0c0c01e;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #1285fc;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  background-color: #c0c0c01e;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px #1285fc;
}

.contact-form .submit-button {
  display: inline-block;
  width: auto;
  max-width: 120px;
  padding: 15px 35px;
  border: none;
  background: #2f82f8;
  border-radius: 5px;
  align-self: flex-end;
  margin-top: 5px;
  cursor: pointer;
}

.contact-form .submit-button:hover {
  background-color: #1668e4;
}

.contact .contact-details {
  flex: 1;
}

.contact .contact-info ul {
  list-style: none;
  font-size: 18px;
  color: #1283fca6;
}

.contact .contact-info ul li {
  margin-bottom: 10px;
}

.contact .contact-info ul li span {
  color: #3b4858;
}

.contact .map-container {
  width: 100%;
  height: 350px;
}

.section > .title {
  font-size: 40px;
  font-weight: 800;
  color: #3b4858;
  text-align: center;
}

.section > .subtitle {
  margin-top: 20px;
  font-weight: 400;
  opacity: 0.8;
  color: #3b4858;
  padding: 20px 0;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #313437c6;
  color: white;
  padding: 50px 100px;
  margin-top: 20px;
}

.footer .main-container {
  display: flex;
  justify-content: space-evenly;
}

.footer .credits {
  display: block;
  position: absolute;
  right: 30px;
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff8c;
}

.text-gradient {
    display: inline-block;
    top: 50%;
    z-index: 2;
    font-size: 70px;
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #f1e9d3 0.89%,
      #f5e7ba 17.23%,
      #f1e8b1 42.04%,
      #eedf9b 55.12%,
      #f5ce7a 71.54%,
      #cf9e33 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .hero-text {
    z-index: 10;
    font-size: 70px;
    position: absolute;
    top: 20%;
    color: white;
    margin-left: 20px;
    width: 250px;
  }

@keyframes out {
  0% {
    opacity: 0;
  }

  100% {
    height: 1;
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    color: white;
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px 2px 10px 10px;
  }

  .menu-list li {
    cursor: pointer;
    width: 100%;
    padding: 15px 10px;
    opacity: 1;
    position: relative;
    border-radius: 3px;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main > .title {
    font-size: 24px;
  }

  .main-items {
    flex-direction: column;
    gap: 50px;
  }

  .main-about-text {
    text-align: justify;
    font-size: 24px;
    line-height: 40px;
    padding: 80px 15px;
  }

  .contact-container {
    max-width: 380px;
  }

  .contact {
    flex-direction: column;
  }

  .contact .map-container {
    height: 300px;
    width: 100%;
    margin-top: 20px;
  }

  .contact .contact-form {
    border: none;
  }

  .contact .contact-form .submit-button {
    align-self: center;
  }

  .section > .title {
    font-size: 25px;
    font-weight: 800;
    color: #3b4858;
    text-align: center;
  }

  .section > .subtitle {
    margin-top: 20px;
    opacity: 0.8;
    padding: 20px 20px;
    font-size: 16px;
    text-align: justify;
  }

  .footer {
    padding: 50px 50px;
  }

  .hero-text {
    z-index: 10;
    font-size: 51px;
    position: absolute;
    top: 20%;
    color: white;
    margin-left: 20px;
    max-width: 250px;
  }

  .text-gradient {
    display: inline-block;
    top: 50%;
    z-index: 2;
    font-size: 52px;
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #f1e9d3 0.89%,
      #f5e7ba 17.23%,
      #f1e8b1 42.04%,
      #eedf9b 55.12%,
      #f5ce7a 71.54%,
      #cf9e33 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

